/venv
.DS_Store
/migrations
/templates/gallery.html
__pycache__
/static/images/headshot_alternate.png
/static/images/meet_nick_computer.gif
/static/images/nick_headshot_blue.png
/static/images/nick_headshot.png
/static/images/test_gif.gif
/static/images/trumpbefuddled.jpg
