
h1 {
    /*margin-top: 2em;
    margin-bottom: 0em;
    margin-left: 0.1em;/*
    letter-spacing: 0.1em;
    /*text-transform: uppercase;
    text-decoration: underline;*/
    font-size: 3.5em;
    font-weight: 700;
    background-color: rgb(42, 146, 238);
    border-radius: 10px;
    padding: 0.2em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#header {
    margin-top: 2em;
    margin-bottom: 2em;
}

#header p{
    padding: 1.5em;
    font-size: 1.5em;
    color: rgb(179, 191, 206);
}

#client-review-icon {
    /*min-width: 4em;
    max-width: 4.5em;*/
    max-height: 1em;
}

.review-container {
    background-color: #aeb4b7;
    max-height: 1.75em;
    max-width: 12em;
}

.review-container img {
    max-height: 1.5em;
    margin-left: -1em;
    margin-bottom: 0.2em;
}

.project-title {
    font-size: 1.1em;
    font-weight: 900;
}

.card {
    margin: 3em 0em 3em 0em;
}

.card-header {
    background-color: #c6cdd1;
}