{% extends "base.html" %}
{% block page_title %}Client Testimonials{% endblock %}

{% block testimonials_active %}active{% endblock %}
{% block aria_testimonials_active %}aria-current="page"{% endblock %}

{% block custom_page_css %} {{url_for('static', filename='/css/testimonials.css')}} {% endblock %}

{% block content %}
<h1>Checkout What Past Clients Have Said...</h1>

<br>

<p>I've had the oppoprtunity to work with some pretty amazing people.  Especially those that were willing
    to initially work with me--without having any prior experience or past reviews on the freelance platform I was using.
    I am eternally grateful for those clients!
</p>

<br>

<div class="container" id="reviews-container">

    {% for testimonial in all_testimonials|sort(attribute='id', reverse=true) %}
    <div class="row justify-content-center">
        <div class="col">
            <div class="card shadow">
                <div class="card-header">

                  <div class="row justify-content-between">

                    <div class="col project-title">
                      {{ testimonial.job_title }}
                    </div>

                    <div class="col">

                      <!-- Review Container -->

                      <div class="container review-container rounded">

                          <div class="row">

                            <div class="col">
                              {{ testimonial.review_score }}
                            </div>

                            <div class="col">
                              <img src="{{ url_for('static', filename='images/review_star.png')}}">
                            </div>

                            <div class="col">
                              /
                            </div>

                            <div class="col">
                              5
                            </div>

                            <div class="col">
                              <img src="{{ url_for('static', filename='images/review_star.png')}}">
                            </div>

                          </div>

                        </div>

                    </div>

                  </div>

                </div>

                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>"{{ testimonial.review_text }}"</p>
                    <footer class="blockquote-footer">{{ testimonial.review_source }}</footer>
                  </blockquote>
                </div>
              </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}